
.need-companion {
  position: absolute;
  top: 16px;
  left: 29px;
  display: inline-block;
  width: 255px;
  height: 50px;
  background-color: rgba(255, 102, 0, 1);
  border-color: transparent;
  font-size: 22px;
  }

.need {
  position: absolute;
  top: 200px;
  left: 412px;
  width: 308px;
  height: 62px;
  color: var(--color-antiquewhite-100);
}

.services {
  position: relative;
  background-color: var(--color-antiquewhite-100);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 400px;
}

.be-companion {
  position: absolute;
  top: 16px;
  left: 29px;
  display: inline-block;
  width: 255px;
  height: 50px;
  background-color: rgba(255, 102, 0, 1);
  border-color: transparent;
  font-size: 22px;
  }

.be {
  position: absolute;
  top: 200px;
  left: 812px;
  width: 308px;
  height: 62px;
  color: var(--color-antiquewhite-100);
}

