  
  .hero-container {
    background: url('../images/bg1.png') center center/cover no-repeat; 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
  
  .hero-container .text01 {
    top: 282px;
    left: 175px;
    color: rgba(255, 102, 0, 1);
    width: 639px;
    height: auto;
    position: absolute;
    font-size: 64px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .hero-container .text02 {
    top: 541px;
    left: 171px;
    color: rgb(255, 168, 47);
    width: 613px;
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  
  .hero-btns {
    top: 680px;
    left: 372px;
    width: 235px;
    height: 73px;
    display: flex;
    padding: 16px 20px;
    position: absolute;
    align-items: center;
    border-color: transparent;
    border-radius: 4px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
 